* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

body {
  background-color: #FAFAFA;
  color: #252B42;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: #252B42;
}

li {
  list-style: none;
}

/* HEADER */

header {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

header a {
  color: white;
}

header nav ul {
  display: flex;
}

header nav ul li {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
}

.logo {
  font-weight: 700;
  font-size: 24px;
}

.become {
  background-color: #23A6F0;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 30px;
  border: 0px;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
}

.login {
  margin-right: 50px;
}

header h1 {
  text-align: center;
  font-size: 58px;
  margin-top: 180px;
  line-height: 100px;
}

header p {
  text-align: center;
  font-size: 20px;
  margin-top: 40px;
}

.buttons_header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.buttons_header button {
  padding: 20px 40px;
  border-radius: 50px;
  font-weight: 700;
  color: white;
  margin: 5px;
}

.button_get {
  background-color: #23A6F0;
  border: 0px;
}

.button_more {
  border: 1px solid white;
  background-color: transparent;
}

/* MAIN */

/* SECTION 1 */

.block1 {
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
  margin-bottom: 100px;
}

.card_block1 {
  padding: 40px;
  box-shadow: 2px 2px 20px #a1a1a1;
  width: 31%;
}

.card_block1_white {
  background-color: white;
}

.card_block1_blue {
  background-color: #23A6F0;
  color: white;
}

.card_block1 h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
}
.p_grey {
  color: #737373;
  font-size: 14px;
}

/* SECTION 2 */

.block2 {
  background-color: white;
  padding-top: 150px;
  padding-bottom: 150px;
}

.cards_block2 {
  display: flex;
  justify-content: space-between;
}

.card_block2 {
  text-align: center;
}
.card_block2 img {
  margin-bottom: 10px;
}

.card_block2 .p_grey {
  margin-top: 10px;
}
